@font-face {
  font-family: "iconfont"; /* Project id 3241134 */
  src: url('../fonticon/iconfont.woff2?t=1647063056123') format('woff2'),
       url('../fonticon/iconfont.woff?t=1647063056123') format('woff'),
       url('../fonticon/iconfont.ttf?t=1647063056123') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e7c6";
}

.icon-chevron-right:before {
  content: "\e74d";
}

.icon-tab:before {
  content: "\e829";
}

.icon-tablet:before {
  content: "\e7b2";
}

.icon-phone:before {
  content: "\e787";
}

.icon-chevron-left:before {
  content: "\e74b";
}

.icon-key:before {
  content: "\e7e1";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-star:before {
  content: "\e7df";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-car:before {
  content: "\e746";
}

.icon-chevron-down:before {
  content: "\e74a";
}

.icon-image:before {
  content: "\e7a6";
}

.icon-left-indent:before {
  content: "\e7b7";
}

.icon-map:before {
  content: "\e7cb";
}

.icon-search:before {
  content: "\e80a";
}

.icon-shopping-bag:before {
  content: "\e812";
}

.icon-trophy:before {
  content: "\e83b";
}

.icon-user:before {
  content: "\e849";
}

.icon-share:before {
  content: "\e764";
}

